<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style>
  html, body, #root {
    /* background-color: #F0F2F5; */
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  #init-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    justify-content: center;
  }
  #init-loading-text {
    text-align: center;
    font-size: 24px !important;
    font-weight: bold !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
    line-height: 40px;
    margin: 0px 15px;
    color: rgba(0,0,0,.65);
  }
  #init-loading-ball {
    background-color: #2d4059;
    border-radius: 50%;
    border-top-left-radius: 0%;
    width: 40px;
    height: 40px;
    border: 4px solid #000;
    transition: 0.2s all;

    animation-name: init-loading-animate;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  @keyframes init-loading-animate
  {
    13% { border-top-left-radius: 50%; background-color: #ea5455; }
    26% { border-top-right-radius: 0px; background-color: #ea5455; }
    39% { border-top-right-radius: 50%; background-color: #f07b3f; }
    52% { border-bottom-right-radius: 0px; background-color: #f07b3f; }
    75% { border-bottom-right-radius: 50%; background-color: #ffd460; }
    78% { border-bottom-left-radius: 0px; background-color: #ffd460; }
  }
  </style>

</head>

<body>
  <div id="root">
    <div id="init-loading">
      <div id="init-loading-ball"></div>
      <div id="init-loading-text">Loading...</div>
    </div>
  </div>
</body>

</html>
